* {
    box-sizing: border-box;
}

/* heading and nav bar and top image */
h1 {
    font-size:26px;
    font-weight: bold;
    margin: 10px;
    color: #fff
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: darkblue;
    padding: 10px;
    width: 100%;
}

.nav-links {
    display: flex;
    margin: 10px;
    width: 350px;
    justify-content: space-around;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color:aquamarine;
}

.nav-container img{
    display: flex;
    width: 100%;
    height: 200px;
    margin: 0;
}

/* about me section */

.about {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: darkblue;
    border: black solid 3px;

}

.about h2{
    font-size: 20px;
    color:#fff;
}

.about p {
    margin: 10px;
    color:#fff;
}

/* work section */

.work {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;

}

.work h2 {
    font-size: 20px;
    align-items: center;
    font-weight: bold;

}

img {
    height: 200px;
    width: 200px;
    position: relative;
}

.showcase {
    align-self: start;
    position: absolute;
    margin-top: 20px;

}

.work a {
    position: absolute;
    margin-top: -25px;
    margin-left: 15px;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}


/* contact section */

.contact {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: darkblue;
    color:#fff;
    border: black solid 3px;
    height: 50px;
    align-items: center;
    font-weight: bold;
}

.contact-links{
    display: flex;
    margin: 10px;
    width: 350px;
    justify-content: space-around;

}

.contact-links a{
    color:#fff;
    text-decoration: none;
}

.contact-links a:hover {
    color:aquamarine;
}

/* resume section */
.resume {
    display: flex;
    background-color: darkblue;
    padding: 10px;
    align-items: center;
    
}

.resume a {
    color:#fff;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
}

.resume a:hover {
    color: aquamarine;
}

@media screen and (max-width: 800px) {
    flex-direction: column;
    display: block;
}

@media screen and (max-width: 320px) {
    display: block;
    height: 100vh;
    
}

@media screen and (max-width: 320px) {
    img {
        width:100px;
        height: 100px;
    }
    
}